<% require 'faker' %>

<body class="home-background">
<div class="search-listing-form">
  <h1 id="class-one" class="animated fadeInDown">Welcome to Relist</h1>
  <h4 id="class-one" class="animated fadeInDown">Save up to 20% on your trip, guaranteed</h4>
  <div>
  </div>
</div>
</body>
