/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

 html, body {
   height: 100%;
 }

.login-background {
  background-color: lightblue;
  background-image: url("app/assets/images/img18.jpg");
}

.login-box, textarea input {
  margin: 0 auto;
  width: 150px;
  display: block;

}




/******************** NEW LISTING FORM *************************/

label.required:after {
  content:" *";
}

.new-listing-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  background-color: white;
  width: 40%;
  margin-top: 100px;
  opacity: 0.9;
  padding: 15px;
}

.new-listing-background {
  background-image: url("http://cdn.sandals.com/sandals/v12/images/resorts/slu/home/main-slider/beach-ocean-beach-chairs.jpg");
}

/************************** User Profile ***************************/

.user-profile-header {
  margin-left: 40px;
  margin-bottom: 25px;
}
.profile-image {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10;
}

.data-wrapper {
  float: right;
  margin-left: 40px;
  flex-grow: 2;
}

.profile {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.user-display {
  display: flex;
}

.user-table-header {
  margin-top: 50px;
}