/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require animate
 */

 html, body {
   height: 100%;
   font-size: 20px;
 }

 /******************** SIGNUP PAGE *************************/

 .signup-background {
   background-image: url("https://images.unsplash.com/photo-1551192866-d755f85224d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
   background-size: 100%;
 }

 .signup-box, textarea input {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-left: 40%;
   background-color: white;
   width: 20%;
   margin-top: 120px;
   opacity: 0.9;
   padding: 20px;
 }

/******************** LOGIN PAGE *************************/

.login-background {
  background-image: url("https://images.unsplash.com/photo-1551192866-d755f85224d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
  background-size: 100%;
}

.login-box, textarea input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  background-color: white;
  width: 20%;
  margin-top: 120px;
  opacity: 0.9;
  padding: 20px;
}

/******************** NEW LISTING PAGE *************************/

.new-listing-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 55%;
  background-color: white;
  width: 35%;
  margin-top: 120px;
  opacity: 0.9;
  padding: 20px;
}

.new-listing-background {
  background-image: url("http://cdn.sandals.com/sandals/v12/images/resorts/slu/home/main-slider/beach-ocean-beach-chairs.jpg");
}

/******************** HOMEPAGE *************************/

.search-listing-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 100px;
  opacity: 0.9;
  padding: 15px;
}

h1#class-one{
  color: white;
  font-family: helvetica;
  font-size: 60px;
  font-weight: bold;
  margin-top: -50px;
}

.home-background {
  background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/161215123358-3-lodge-verbier-full-169.jpg");
  background-size: 100%;
}

/******************** LISTING VIEW PAGE *************************/
div.w3-container{
  padding-top: 30px;
}

div.w3-container2{
  padding-top: 30px;
  background-color: #F7F8F9;

}

div.w3-left2{
  text-align: justify;
  padding-right: 100px;
  padding-left: 10px;
  text-align: center;
  padding-top: 20px;

}

div.w3-right2{
  text-align: justify;
  padding-right: 100px;
  padding-left: 10px;
  text-align: left;
  padding-top: 20px;

}

div.w3-left{
  text-align: justify;
  padding-right: 100px;
  padding-left: 10px;
  text-align: center;
  padding-top: 85px;
}

div.w3-right img{
  width: auto;
  height: auto;
}
td.index-image img{
  width: 300px;
}
p.value{
  text-decoration: line-through;
  color: red;
  font-size: 20px;
}

p.price{
  font-size: 25px;
  font-style: bold;
}

td.value{
  text-decoration: line-through;
  color: red;
}

p.book-button{
  position:relative;
  margin-top:110px;
}

/******************** UPDATE PROFILE PAGE *************************/

.update-profile-background {
  background-color: #FEF5E7;
}

.update-profile-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  background-color: white;
  width: 20%;
  margin-top: 120px;
  padding: 20px;
}

/************************** User Profile ***************************/

.user-profile-header {
  margin-left: 60px;
  margin-bottom: 25px;
}

.w3-left {
  text-align: center;
}

td {
  text-align: left;
  padding: 20px;
}

/************************** Analytics Page ***************************/
.analytics-background {
  background-image: url("https://hdqwalls.com/download/blue-abstract-simple-background-qs-2048x1152.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.analytics-contanier {
  margin-left: 20%;
  background-color: white;
  width: 60%;
  margin-top: 120px;
  opacity: 0.9;
  padding: 20px;
}

div.w3-center-analytics-header p{
  font-size: 30px;
  text-align: center;
}
